/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@500;600;700&display=swap');


 /* Basic css */

 body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    color: #646464;
    line-height: 1.7;
 }
 h1,
 h2,
 h3,
 h4 {
    font-family: 'Poppins', sans-serif;
    color: #212121;
    font-weight: 500;}
.theme-button {
  text-decoration: none;
  text-transform: capitalize;
  color: #fff;
  background-color: #37806B;
  border-radius: 15px 0px;
  padding: 10px 20px;
  transition: 0.3s;
  display: inline-block;
  margin-top: 20px;
}
.theme-button:hover{
  background-color: #CAA892;
  color: #fff;
}
 
.design-image {
  position: relative;
  z-index: 1;  
}

.design-image img {
  border-radius: 140px 0px;
  width: 100%;
}

.design-image::after{
  position: absolute;
  content: "";
  right: -20px;
  bottom: -20px;
  left: 20px;
  top: 20px;
  z-index: -1;
  border-radius: 140px 0px;
  border: 2px solid #B0855B;
  
}
.design-image-two {
  position: relative;
  z-index: 1; 
}

.design-image-two img {
  border-radius: 140px 0px;
}
.design-image-two::after{
  position: absolute;
  content: "";
  left: -20px;
  right: 20px;
  top: -20px;
  bottom: 20px;
  z-index: -1;
  border-radius: 140px 0px;
  border: 2px solid #B0855B;
  
}
.section-heading h4 {
  font-size: 20px;
  text-transform: uppercase;
  color: #646464;
  font-weight: 600;

}
.section-heading h3 {
  font-size: 48px;
  text-transform: capitalize;
}

.design-text h5{
  font-family: 'Open Sans', sans-serif;
  font-size:288px ;
  font-weight: 700;
  background-image: url(assets/img/text-bg.png);
  -webkit-background-clip: text;
  color: transparent;
  background-size: cover;

}

.design {
  position: absolute;
  top: -50px;
}
.design img{
  height: 100px;
}

 /* header-area css */
 .header-area{
   padding: 30px 0;
 }
 .header-area .nav-item{
   margin-left: 30px;
 }
 .header-area .nav-link{
   text-transform: uppercase;
   color: #111111;
   font-weight: 600;
 }
 .header-area .nav-link.active{
   color: #646464;
 }
 .header-area .nav-item:last-child{
   margin-left: 45px;
 }
 
 .header-area .nav-item:last-child .nav-link{
   text-transform: capitalize;
   color: #fff;
   background-color: #CAA892;
   border-radius: 15px 0px;
   padding: 10px 20px;
   text-align: center;
 }

 .header-area .navbar-toggler{
   border: none;
   box-shadow: none;
 }

/* Hero area css */
.hero-area{
  padding: 70px 0;
}
.hero-text h3{
  font-size: 20px;
  color: #646464;
  text-transform: uppercase;
}
.hero-text h2{
  font-size: 72px;
  color: #212121;
  text-transform: capitalize;
}

.hero-image img{
  width: 100%;
  border-radius: 140px 0px;
}


/* Service area css */
.service-area{
  padding: 100px 0;
  position: relative;
}
.all-services{
  margin-top: 60px;
  position: relative;
}
.service-area .owl-nav{
  position: absolute;
  right: 0;
  top: -80px;
}
.service-area .owl-nav span {
  height: 29px;
  width: 30px;
  color: #646464;
  background-color: #FFFFFF;
  display: inline-block;
  border-radius: 50%;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.service-area .owl-nav span:hover{
  background-color: #37806B;
  color: #FFFFFF;
}

.service-area .owl-next{
  margin-left: 15px;
}
.single-service{
  background: #FFFFFF;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.14);
  border-radius: 60px 0px;
  padding: 40px 15px 40px 35px;
  transition: 0.3s;
  cursor: pointer;
}
.single-service:hover{
  background-color: #CAA892;
  color: #FFFFFF;
}
.single-service:hover h3{
  color: #FFFFFF;
}
.service-text h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
}
.service-text p {
  margin-bottom: 0;
}


/* about area css */
.about-area{
  padding: 100px 0;
  position: relative;
}
.about-text .section-heading h4{
  font-weight: 500;
}

.about-area .design {
  right: 0;
}

/* success area css */
.success-area{
  padding:100px 0 ;
  position: relative;
}
.success-area .theme-button{
  margin-top: 35px;
}


/* work area css */
.work-area{
  padding: 100px 0;
  background-color: #F8F8F8;
}
.single-work {
  display: flex;
  justify-content: center;
}

.all-work{
  margin-top: 100px;
}
.single-work-text{
  background: #FFFFFF;
  box-shadow: 0px 13px 16px rgba(0, 0, 0, 0.1);
  border-radius: 40px 0px;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
.single-work-text::after{
  position: absolute;
  content: "";
  height: 100px;
  width: 66px;
  z-index: -1;
  right: -66px;
  top: 100px;
  border-top: 2px solid #E0E0E0;
  border-right: 2px solid #E0E0E0;
}
.single-work-text.special::after{
  left: -66px;
  top: 100px;
  border-right: none;
}
.single-work-two .single-work-text::before{
  position: absolute;
  content: "";
  height: 100px;
  width: 66px;
  z-index: -1;
  right: -66px;
  top: 0px;
  border-bottom: 2px solid #E0E0E0;
  border-right: 2px solid #E0E0E0;
 
}
.single-work-three .single-work-text::before{
  position: absolute;
  content: "";
  height: 100px;
  width: 66px;
  z-index: -1;
  left: -66px;
  top: 0px;
  border-bottom: 2px solid #E0E0E0;
  border-right: none;
 
}

.single-work-text h3{
  font-size: 50px;
}

.special{
  margin-top: 100px;
}


/* testimonial area css */
.testimonial-area{
  padding: 100px 0;
  position: relative;
}
.all-testimonial{
  position: relative;
  margin-top: 70px;
}
.single-testimonial{
  padding: 20px;
}
.testimonial-content{
  display: flex;
  padding: 40px;
  padding-left: 0;
  position: relative;
  z-index: 1;
}
.testimonial-content::after{
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  left: 65px;
  bottom: 0;
  z-index: -1;
  background: #FFFFFF;
  box-shadow: 5px 5px 15px 5px rgba(66, 96, 84, 0.15);
  border-radius: 70px 0px;
}

.testimonial-img img{
  width: 130px !important;
  height: 130px;
  border-radius: 35px 0px;
  margin-right: 20px;
}
.testimonial-text{
  padding-right: 20px;
}
.testimonial-text h3{
  font-size: 24px;
}
.testimonial-text h3 span{
  font-size: 16px;
  color: #646464;
}
.icon-img{
  position: absolute;
  right: 20px;
  top: 20px;
}
.icon-img img{
  width: 30px;
  height: auto;
}

.testimonial-area .owl-nav{
  position: absolute;
  right: 0;
  top: -80px;
}
.testimonial-area .owl-nav span {
  height: 29px;
  width: 30px;
  color: #646464;
  background-color: #FFFFFF;
  display: inline-block;
  border-radius: 50%;
  box-shadow: -1px 3px 10px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}
.testimonial-area .owl-nav span:hover{
  background-color: #37806B;
  color: #FFFFFF;
}

.testimonial-area .owl-next{
  margin-left: 15px;
}


/* Blog area css */
.blog-area{
  padding: 100px 0;
  background-color: #F8F8F8;
}

.blog-area .section-heading{
  margin-bottom: 70px;
}
.blog-text{
  margin-top: 40px;
}

/* Signup area css */
.signup-area{
  padding: 180px 0;
}

.signup-text h3{
  font-size: 48px;
  margin-bottom: 22px;
  padding-bottom: 22px;
  position: relative;
}
.signup-text h3::after{
  position: absolute;
  content: "";
  height: 1px;
  width: 400px;
  background-color: #C4C4C4;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.signup-text p{
  margin-bottom: 45px;
}
.signup-area .form-control{
  background-color: #EEEEEE;
  border: none;
  font-size: 20px;
  border-radius: 20px 0 0 0;
  padding: 10px 20px;
}
.signup-area button {
  border: none;
  background: #37806B;
  border-radius: 0px 0px 20px 0px;
  color: #FFFFFF;
  padding: 0 40px ;
  transition: 0.3s;
}

.signup-area button:hover{
  background-color: #B0855B;
}


/* Footer area css */
.footer-area{
   background-color:#F8F8F8 ;
   position: relative;
}
.footer-top{
   padding-top: 80px;
   padding-bottom: 60px;
}
.footer-about img{
  margin-bottom: 12px;
}
.footer-link h3{
  font-size: 20px;
  color: #212121;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-top: 10px;
}
.footer-link ul{
  margin: 0;
  padding: 0;
}

.footer-link ul li{
  list-style: none;
}
.footer-link ul li a{
  padding: 5px;
  text-decoration: none;
  display: inline-block;
  color:#646464 ;
  transition: 0.3s;
}
.footer-link ul li a:hover{
  color:#37806B ;
}

.footer-link address{
  line-height: 2.2;
}
 
.social-link li{
  display: inline-block;
  margin-right: 10px;
}
.footer-link .social-link li a {
  background-color:#D5D5D5 ;
  height: 40px;
  width: 40px;
  display: flex ;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #fff !important;
  transition: 0.3s;
}
.footer-link .social-link li a:hover{
  background-color: #37806B;
}
.footer-bottom{
  border-top: 1px solid #C4C4C4;
}
.footer-bottom-text a{
  text-decoration: none;
  color: #37806B;
}



/* Media CSS Start  */


/* Work area css */
@media (max-width: 1399px){
  .all-work{
    margin-top: 80px;
  }
  .single-work-text::after{
    height: 100px;
    width: 42px;
    z-index: -1;
    right: -43px;
    border-top: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
  
  }
  .single-work-text.special::after{
    left: -43px;
    top: 100px;
    border-right: none;
  }
  .single-work-two .single-work-text::before{
    height: 100px;
    width: 42px;
    z-index: -1;
    right: -43px;
    top: 0px;
    border-bottom: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
   
  }
  .single-work-three .single-work-text::before{
    height: 100px;
    width: 42px;
    z-index: -1;
    left: -43px;
    top: 0px;
    border-bottom: 2px solid #E0E0E0;
    border-right: none;
   
  }
}

/* Work Area  */
@media (max-width: 1199px){
  .single-work-text::after{
    height: 100px;
    width: 20px;
    z-index: -1;
    right: -21px;
    border-top: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
    
  
  }
  .single-work-text.special::after{
    left: -21px;
    top: 100px;
    border-right: none;
  }
  .single-work-two .single-work-text::before{
    height: 100px;
    width: 20px;
    z-index: -1;
    right: -21px;
    top: 0px;
    border-bottom: 2px solid #E0E0E0;
    border-right: 2px solid #E0E0E0;
   
  }
  .single-work-three .single-work-text::before{
    height: 100px;
    width: 20px;
    z-index: -1;
    left: -21px;
    top: 0px;
    border-bottom: 2px solid #E0E0E0;
    border-right: none;
   
  }


/* Header area css */

  .navbar-nav .nav-link{
    font-size: 14px;
  }
  .header-area .nav-item {
    margin-left: 20px;
}
.header-area .nav-item:last-child {
  margin-left: 35px;
}
}



/* Header area css */

@media (max-width: 991px){
  .navbar-nav .nav-link{
    font-size: 17px;
  }

   
   .header-area .nav-item {
      margin-left: 0;
   }
   .header-area .nav-item:last-child{
      margin-left: 0;
      margin-top: 20px;
   }
   .header-area .nav-item:last-child {
    margin-left: 0;
}
  .header-area .nav-item {
    margin-left: 0;
}
    
/* hero area css */
  .hero-area{
    padding: 50px 0;
  }
  .hero-area .hero-text{
    text-align: center;
  }
  .hero-text h2{
    font-size: 42px;
  }
  .hero-area .theme-button{
    margin-bottom: 40px;
  }

  .design-image {
    padding-right: 20px;
  }
  
  .design-image::after{
    right: 0; 
  }
  .design-image-two {
    padding-left: 20px;
  }
  .design-image-two::after{
    right: 20px;
    left: 0;
    top: -20px;
    bottom: 20px;
    
  }

/* service area css */
  .service-area{
    padding: 60px 0;
  }
  .section-heading{
    text-align: center;

  }
  .section-heading h3{
    font-size: 30px;
  }
  .service-area .design {
    top: -10px;
    left: 20px;
  }
  .design img{
    height: 70px;
  }
  .service-area .owl-nav {
    top: -40px;}

    .single-service {
      padding: 30px 10px 30px 25px;
    }


    /* about area css */

  .about-area{
    padding: 60px 0;
  }
.about-area .section-heading{
  margin-top: 40px;
}

.about-area .design{
  right: 0;
}

/* success area css */

  .success-area{
    padding-top: 20px;
    padding-bottom: 70px;
  }
  .success-area .theme-button{
    margin-bottom: 35px;
  }



  /* work area css */

  .work-area{
    padding-top: 60px;
     padding-bottom: 0px;}
  .work-area .single-work{
    margin-bottom: 100px;
  }
   .single-work-text::after{
      position: absolute;
      content: "";
      height: 50px;
      width: 100px;
      top: 200px;
      z-index: -1;
      left: 100px;
      border-left: 2px solid #E0E0E0;
      border-bottom: 2px solid #E0E0E0;
      border-right: none;
      border-top: none;
    }
    .single-work-text.special::after{
      left: 0px;
      top: -50px;
      border-right: 2px solid #E0E0E0;
      border-top: none;
      border-left: none;
      border-bottom: none;
    }
    .single-work-two .single-work-text::before{
      height: 50px;
      width: 100px;
      right: 100px;
      top: 200px;
      border-bottom: 2px solid #E0E0E0;
      border-right: 2px solid #E0E0E0;
     
    }
    .single-work-three .single-work-text::before{
      height: 50px;
      width: 100px;
      left: 100px;
      top: -50px;
      border-left: 2px solid #E0E0E0;
      border-top: none;
      border-bottom: none;
      border-right: none;
     
    }
    .single-work-text.special{
      margin-left: 200px;
    }
    .special{
      margin-top: 0;
    }
    
    /* testimonial area css */

  .testimonial-area{
     padding: 60px 0;}
  .testimonial-area .owl-nav {
      top: 30px;
     }
     .testimonial-area .design {
      top: -10px;
      left: 20px;
    }
    
    .testimonial-content{
      padding: 30px 0;
      flex-direction: column;
      padding-left: 5px;
      
    }
    .testimonial-content::after{
      top: 90px;
      right: 0px;
      left: 0;
      bottom: 0;
    }
    .testimonial-img{
      margin-bottom: 10px;
    }
    .icon-img {
      position: absolute;
      right: 30px;
      top: 110px;
  }
  .all-testimonial {
    margin-top: 0px;
  }
     /* blog area css */

  .blog-area .section-heading {
    margin-bottom: 40px;
}
  .blog-area{
    padding: 70px 0 30px 0;}
 .blog-text {
     text-align: center;
     margin-top: 60px;
  }
  .blog-area .blog-text {
    margin-bottom: 40px;
}
.signup-area{
  padding: 100px 0;
}

.signup-text h3 {
  font-size: 35px;
}


/* footer area css */

  .footer-area{
    text-align: center;
   }
  .footer-top{
    padding-top: 70px;
    padding-bottom: 10px;
 }
 
 .footer-link{
  margin: 40px 0;
 }
 .footer-area .design {
  top: -40px;
  left: 0;
}
.footer-area .design img{
  height: 80px;
}

}
/* @media (min-width: 768px){
.container {
    max-width: 768px;}
} */

@media (max-width: 767px){

  .design-text h5 {
    font-size: 180px;
    font-weight: 700;
  }
  .container {
    --bs-gutter-x: 3.5rem;}
}

@media (max-width: 520px){
  .signup-text h3::after {
    width: 300px;}
}
